/*************** External Imports ***************/
@import url("https://kustomize-ui.netlify.app/css/kustomize-components.css");
/***********************************************/
@import url("./css/footer.css");
@import url("./css/products.css");
@import url("./css/navbar.css");
:root {
  --white-background-shadow: rgba(255, 255, 255, 0.5);
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

.hero {
  padding: 4rem 2rem;
  display: grid;
  gap: 3rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
}

.hero img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.hero-content {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: 0 0.5rem 2rem 0;
}

.hero-btn a {
  color: var(--white);
}

.hero-btn:hover a {
  color: var(--dark-gray);
}

.categories-display {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-wrapper {
  max-width: 130rem;
  margin: 0 auto;
}

.feature-card {
  min-width: 35rem;
}
